@import '../../scss/colors.scss';

.search-input {
  align-items: center;
  display: flex;
  margin: 0 20px 40px;
  max-width: 800px;
  position: relative;

  &__input {
    appearance: none;
    border-radius: 5px;
    border: 2px solid rgba($black, 0.3);
    font-size: 20px;
    font-weight: bold;
    outline: none;
    padding: 10px;
    width: 100%;
  }

  &__clear {
    cursor: pointer;
    position: absolute;
    right: 10px;
    width: 30px;
  }
}

@media screen and (min-width: 700px) {
  .search-input {
    margin: 0 auto 40px;
  }
}