.app {
  min-height: 100vh;
  padding-bottom: 130px;
  position: relative;

  &-main {
    margin: 0 auto;
    width: 100%;
  }
}

@media screen and (min-width: 700px) {
  .app {
    &-main {
      width: 80%;
    }
  }
}